<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     AppAcolher
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Sejam Bem Vindas</strong><br><br><br>
	
	 <p><a target="_blank" rel="noopener noreferrer" href="https://youtu.be/LrFYJyvTsWY"><br><br><br><strong>Video Boas Vindas</strong></a></p><br><br><br>
	
	<strong>Acolher</strong><br><br><br>
    <p>Inovação para o bem estar e inclusão da<br>
mulher caminhoneira<a target="_self" rel="noopener noreferrer" href=""><br><br><br><strong>Acessar</strong></a></p>
  </div>
</ion-content>
